@keyframes arrowAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  55% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes unblurAnimation {
  0% {
    backdrop-filter: blur(200px) brightness(0.3);
  }
  100% {
    backdrop-filter: blur(0px) brightness(0.3);
  }
}

.maintitle {
  font-size: 72px;
  font-weight: 600;
  padding: 24px 0 38px 0;
  letter-spacing: .5px;
}

body:has(.home-container) {
  background: url("/static/images/territory.jpg") no-repeat;
  object-position: bottom;
  background-size: cover;
  backdrop-filter: none;
  background-attachment: fixed;
  background-position: center center;
  overflow-x: hidden;
  animation: unblurAnimation .7s ease;
}

body:has(.home-container):not(:has(.open)) {
  filter: none;
  backdrop-filter: brightness(0.3);
}

.container:has(.home-container) {
  padding-bottom: 0px;
}

.title-screen {
  margin-top: -99px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  vertical-align: middle;
}

.title-screen .caption {
  padding: 8px 0 44px 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2.5px;
}

.title-screen * {
  color: white;
}

#scroller {
  animation: arrowAnimation 1.7s ease infinite;
  position: absolute;
  bottom: 55px;
  cursor: pointer;
  transition: filter .4s;
  width: fit-content;
}

#scroller:hover {
  filter: brightness(0.6);
}

.info-block {
  display: flex;
  flex-direction: column;
  padding: 120px 0px;
  background-color: #EFEFEF;
}

.subtitle {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 90px;
}

.cards {
  display: flex;
  flex: 1;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  text-decoration: none!important;
  padding: 30px;
  width: 30vw;
  height: min(380px, 50vh);
  background-color: #3f3f3f;
}

.card .main-info {
  display: flex;
  align-items: start;
}

.card .main-info img {
  margin-left: auto;
  padding-left: 10px;
}

.card * {
  color: white;
}

.card h2 {
  font-size: 22px;
}

.card .description {
  margin-top: auto;
  font-size: 18px;
}

.partners-block {
  display: flex;
  flex-direction: column;
  padding: 120px 0px;
  background-color: white;
}

.partners-list {
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.partners-list img {
  width: 160px;
}

@media screen and (max-width: 1250px) {

  .card {
    max-width: 90vw;
    width: 90vw;
  }

}

@media screen and (max-width: 992px) {

  .maintitle {
    font-size: 30px;
  }

  .title-screen .caption {
    font-size: 10px;
  }

  .card h2 {
    font-size: 18px;
  }
  
  .card .description {
    margin-top: auto;
    font-size: 14px;
  }

  .subtitle {
    font-size: 30px;
  }

  .partners-block {
    padding: 90px 0px;
  }

  .info-block {
    padding: 90px 0px;
  }

  .partners-list {
    gap: 30px;
  }

}