{% extends "app/base_layout.html" %}

{% block title %} Новости {% endblock %}

{% block content %}
<h1 class="text-center news-title">Новости</h1> <!-- id, title, text, author_id, created_date -->
<h2 class="text-center news-description">Здесь мы публикуем новости о жизни нашего факультета</h2>
{% for news_post in news_posts %}
<div class="post">
  <img src="/static/images/news.jpg"> <!-- TODO: добавить news_post.cover_url -->
  <div class="info">
    <div class="title">{{ news_post.title }}</div>
    <div class="text">{{ news_post.text }}</div>
    <div class="caption">{{ news_post.created_date }}</div>
  </div>
</div>
{% endfor %}
{% endblock %}
