{% extends "app/base_layout.html" %}

{% block title %} Новости {% endblock %}

{% block content %}
<h1 class="text-center news-title">Новости</h1> <!-- id, title, text, author_id, created_date -->
<h2 class="text-center news-description">Здесь мы публикуем новости о жизни нашего факультета</h2>
{% for news_post in news_posts %}
<div class="post">
  {% if news_post.image %}
    <img src="{{ news_post.image.url }}"> 
  {% endif %}
  <div class="info">
    <div class="title">
      <a href="{% url 'news_post_detail' news_post.id %}">
        {{ news_post.title }}
      </a>
    </div>
    <div class="text">{{ news_post.text }}</div>
    <div class="caption">{{ news_post.creation_date|date:"d.m.Y H:i"}}</div>
    <div class="caption">{{ news_post.author.username }}</div>
  </div>
</div>
{% endfor %}
{% endblock %}
