{% extends "app/base_layout.html" %}

{% block title %} Новости {% endblock %}

{% block content %}
<h1 class="text-center news-title">Новости</h1>
<h2 class="text-center news-description">Здесь мы публикуем новости о жизни нашего факультета</h2>
{% for news_post in news_posts %}
<div class="post">
  {% if news_post.image %}
    <img src="{{ news_post.image.url }}"> 
  {% endif %}
  <div class="info">
    <div class="title">
      <a href="{% url 'news_post_detail' news_post.id %}">
        {{ news_post.title }}
      </a>
    </div>
    <div class="text">{{ news_post.text|truncatechars:80 }}</div>
    <div class="caption">{{ news_post.creation_date|date:"d.m.Y H:i"}}</div>
    <div class="caption">{{ news_post.author.username }}</div>
    {% if news_post.author.avatar.url %}
      <img src="{{ news_post.author.avatar.url }}">
    {% endif %}

    {% if news_post.author == request.user %}
    <a href="{% url 'news_post_delete' news_post.id %}">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 384 512" width="20" height="20"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
    </a>

    <a href="{% url 'news_post_update' news_post.id %}">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20"><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/></svg>
    </a>
    {% endif %}

  </div>
</div>

{% endfor %}

{% if news_posts.has_previous %}
  <div style="gap:15px;display:flex;padding:15px 0px;">
    <a href="?page=1">&laquo First</a>
    <a href="?page={{ news_posts.previous_page_number }}">Previous</a>
  </div>
{% endif %}

<div class="page-counter">Page {{ news_posts.number }} of {{ news_posts.paginator.num_pages }}</div>

{% if news_posts.has_next %}
  <div style="gap:15px;display:flex;padding:15px 0px;">
    <a href="?page={{ news_posts.next_page_number }}">Next</a>
    <a href="?page={{ news_posts.paginator.num_pages }}">Last &raquo</a>
  </div>
{% endif %}

{% endblock %}
