{% extends "app/base_layout.html" %}

{% block content %}
<div class="detailed-post-outer">
  <div class="navigator">
    <img
      class="back-button"
      src="/static/images/arrow_right.svg"
      onClick="javascript:history.back();"
    >
    <span class="caption">Новости</span>
  </div>
  <div class="detailed-post">
    <div class="title">{{ news_post.title }}</div>
    {% if news_post.image %}
      <img src="{{ news_post.image.url }}">
    {% endif %}
    <div class="text">{{ news_post.text }}</div>
    <div class="caption">{{ news_post.creation_date|date:"d.m.Y H:i"}}</div>
    <div class="username">{{ news_post.author.username }}</div>

    {% if news_post.author.avatar.url %}
      <img src="{{ news_post.author.avatar.url }}">
    {% endif %}
  </div>
</div>
{% endblock %}
