{% extends "app/base_layout.html" %}

{% block title %} Студенческий совет {% endblock %}

{% block content %}
<div class="council text-center">
  <h1 class="display-4">Студенческий совет</h1>
  <hr>

  <p>
    ССФ ИУ — это динамичная организация, которая является платформой для реализации творческих идей и разработки инновационных проектов цифровизации.
Факультет ИУ объединяет как цифровые, так и инженерные направления подготовки и наш Студенческий совет не отстает! За нашими плечами проведение творческих, образовательных и IT проектов для студентов Бауманки и университетов Москвы.
Студенческий совет ИУ создаёт платформу для саморазвития. Участвуя в различных проектах и мероприятиях, студенты могут прокачивать свои организационные, управленческие и коммуникативные навыки. Эти качества ценны не только в учебе, но и в будущей профессиональной деятельности.
Студенческий совет факультета «Информатика и системы управления» — это возможность заниматься интересным делом и расти как личность. Каждый студент может учиться и тусоваться, работать и путешествовать, творить и развиваться. В мире современных технологий, где изменения происходят с необычайной быстротой, очень важно уметь адаптироваться и быть в центре событий. Студсовет ИУ предлагает именно такую уникальную возможность, и каждый, вступая в наши ряды, становится частью большой истории о том, как сделать этот мир лучше.
  </p>

  <h3 class="display-4">Достижения</h3>
  <ul>
    <li>Крупнейшее IT-сообщество в РФ</li>
    <li>>10 партнерских центров из ВУЗов РФ</li>
    <li>>2 500 000 рублей выигранных грантовых средств</li>
    <li>>15 партнеров из IT-сектора</li>
    <li>3 проекта цифровизации Университета</li>
  </ul>
  <hr>

  <h3 class="display-4">Направления</h3>
  <ol class="main-list">
    <li><span>Председатель Студенческого совета ИУ - <b>Токарев Иван</b></span></li>
    <li><span>Заместитель председателя Студенческого совета ИУ - <b>Евдокимова Анастасия</b></span></li>
    <li><span>Научное объединение</span></li>
  
    <p>ITS BMSTU - <b>Ленчин Роман</b></p>
    <ol>
        <li>Проведение IT-форумов, фестивалей и чемпионатов</li>
        <li>Привлечение выпускников Бауманки к обмену опытом в индустрии</li>
    </ol>
    <p>ITS Tech - <b>Павлов Иван</b></p>
    <ol>
      <li>Создание IT-проектов для Университета и внешних заказчиков</li>
    </ol>
      <li>
          <p>Медиа ИУ - <b>Евдокимова Анастасия</b></p>
          <ul>
            <li>Фото и видео - освещение мероприятий</li>
            <li>SMM - PR-компания и взаимодействие со студентами ИУ в социальных сетях</li>
            <li>Дизайн - разработка макетов изображения для проектов и мероприятий факультета ИУ</li>
          </ul>
      </li>
      <li>
        <p>Внешние коммуникации - <b>Чистяков Илья</b></p>
        <ul>
        <li>Взаимодействие со внешними организациями (компании партнеры, другие ВУЗы)</li>
        <li>Привлечение материальной и финансовой поддержки Студа_ИУ</li>
        <li>Развитие флагманского проекта “День программиста”</li>
        </ul>
      </li>
      <li >
        <p>Техническое обеспечение - <b>Пасько Ольга</b></p>
        <ul>
          <li>Проектирование технической части мероприятий</li>
          <li>Установка и настройка звукового и видео-оборудования</li>
          <li>Техническая работа на выездных программах УЦ “Бауманец”</li>
        </ul>
      </li>
      <li>
        <p>Проектное направление - <b>Евдокимова Анастасия</b></p>
        <ul>
          <li>Проведение общественных мероприятий</li>
          <li>Развитие флагманских проектов</li>
          <li>Поддержка стратегических проектов - “Координаторы” и “Старостат”</li>
        </ul>
      </li>
    
  </ol>

  <hr>
  <h3 class="display-4">Проекты</h3>
  <ol>
    <li>Музхак - самый крупный и яркий музыкальный квиз МГТУ им. Н.Э. Баумана</li>
    <li>Кроссбитва - самый интеллектуальных и разносторонний турнир по решению кроссвордов</li>
    <li>StandUp Арена - командный турнир для желающих влиться в движение stand-up</li>
    <li>Старостат - поддержка и обучение старост на факультете ИУ</li>
    <li>Координаторы - развитие координаторов для групп первого курса среди студентов факультета ИУ</li>
    <li>Отдел Вайба (Внутренние коммуникации) - создание и развитие внутренних мероприятий, проведение наборов в организацию</li>
    <li>Организация кафедры ИУ10 “Десятка” - <b>Петрова Дарья</b></li>

    <ul>
      <li>Создание студенческой жизни на кафедре ИУ10</li>
      <li>Проведение дружеской встречи студентов и преподавателей - Вечера Десятки</li>
      <li>Поддержка студентов в усвоении учебного материала и организационных вопросах</li>
    </ul>
  </ol>


</div>
{% endblock %}