{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/index.css">
    <link rel="stylesheet" href="/static/styles/Navbar.css">
    <link rel="stylesheet" href="/static/styles/Department.css">
    <link rel="stylesheet" href="/static/styles/Timer.css">
    <link rel="stylesheet" href="/static/styles/MainPage.css">
    <link rel="stylesheet" href="/static/styles/Council.css">
    <link rel="stylesheet" href="/static/styles/News.css">
    <script src="/static/scripts/Navbar.js"></script>
    <script src="/static/scripts/index.js"></script>
    <link rel="icon" href="/static/images/bmstu_logo_light.svg">
    <style>
      .navbar-brand, .nav-link {
        color: #000 !important;
      }
      .container {
        margin-top: 7px;
      }
      .table th, .table td {
        vertical-align: middle;
      }

      @media screen and (min-width:992px) {
        .dropdown:hover .dropdown-menu {
          display: block;
          margin-top: 0;
        }

        .dropdown .dropdown-menu {
          display: none;
        }

        .dropdown:hover .dropdown-toggle::after {
          border-top: 0;
          border-bottom: .3em solid;
        }
      }

      .dropdown-toggle.show:after {
        border-top: 0;
        border-bottom: .3em solid;
      }

    </style>
  </head>
  <body>
    <div class="navbar-outer">
      <nav class="navbar navbar-inner navbar-expand-lg navbar-dark">
        <a href="{% url 'home' %}" class="navbar-brand">
          <img src="{% static 'images/bmstu_logo.png' %}"> <!-- TODO: get SVG version of the logo -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="{% url 'news_post_create' %}" class="nav-link">Добавить новость</a>
            </li>
  
            <li class="nav-item">
              <a href="{% url 'news_posts' %}" class="nav-link">Новости</a>
            </li>
  
            <li class="nav-item dropdown">
              <a href="" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Кафедры</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDepartments">
                <li> <a class="dropdown-item" href="{% url 'iu_1' %}">ИУ1</a> </li>
                <li> <a class="dropdown-item" href="{% url 'iu_2' %}">ИУ2</a> </li>
                <li> <a class="dropdown-item" href="{% url 'iu_3' %}">ИУ3</a> </li>
                <li> <a class="dropdown-item" href="{% url 'iu_4' %}">ИУ4</a> </li>
                <li> <a class="dropdown-item" href="{% url 'iu_5' %}">ИУ5</a> </li>
                <li> <a class="dropdown-item" href="{% url 'iu_6' %}">ИУ6</a> </li>
                <li> <a class="dropdown-item" href="{% url 'iu_7' %}">ИУ7</a> </li>
                <li> <a class="dropdown-item" href="{% url 'iu_8' %}">ИУ8</a> </li>
                <li> <a class="dropdown-item" href="{% url 'iu_9' %}">ИУ9</a> </li>
                <li> <a class="dropdown-item" href="{% url 'iu_10' %}">ИУ10</a> </li>
                <li> <a class="dropdown-item" href="{% url 'iu_11' %}">ИУ11</a> </li>
                <li> <a class="dropdown-item" href="{% url 'iu_12' %}">ИУ12</a> </li>
              </ul>
            </li>
  
            <li class="nav-item dropdown">
              <a href="" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">О факультете</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDepartments">
                <li> <a class="dropdown-item" href="#">Учёный совет</a> </li>
                <li> <a class="dropdown-item" href="#">Нормативные документы</a> </li>
                <li> <a class="dropdown-item" href="#">Контакты</a> </li>
              </ul>
            </li>
  
            <li class="nav-item dropdown">
              <a href="" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Абитуриентам</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDepartments">
                <li> <a class="dropdown-item" href="#">Правила приёма</a> </li>
                <li> <a class="dropdown-item" href="#">Направления подготовки</a> </li>
                <li> <a class="dropdown-item" href="#">Целевое обучение</a> </li>
                <li> <a class="dropdown-item" href="#">Учебные планы</a> </li>
                <li> <a class="dropdown-item" href="#">Магистратура</a> </li>
                <li> <a class="dropdown-item" href="#">Аспирантура</a> </li>
                <li> <a class="dropdown-item" href="#">Иностранным студентам</a> </li>
              </ul>
            </li>
  
            <li class="nav-item dropdown">
              <a href="" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Студентам</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDepartments">
                <li> <a class="dropdown-item" href="{% url 'deans_office_schedule' %}">Расписание работы деканата</a> </li>
                <li> <a class="dropdown-item" href="#">Общежитие</a> </li>
                <li> <a class="dropdown-item" href="#">Образцы заявлений</a> </li>
                <li> <a class="dropdown-item" href="{% url 'student_council' %}">Студенческий совет</a> </li>
                <li> <a class="dropdown-item" href="#">Профсоюз студентов</a> </li>
                <li> <a class="dropdown-item" href="{% url 'session_countdown_timer' %}">Таймер до сессии</a> </li>
              </ul>
            </li>
  
            {% if user.is_authenticated %}
            <a href="/logout" class="nav-link" role="button">Выйти</a>
            {% else %}
            <a href="/login" class="nav-link" role="button">Войти</a>
            {% endif %}
  
          </ul>
        </div>
      </nav>
    </div>
    <div class="navbar-mobile">
      <div class="menu-icon">
        <div id="nav-icon3">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <a href="{% url 'home' %}" class="nav-title">Факультет ИУ</div>
      <div class="mobile-dropdown-outer">
        <div class="mobile-dropdown-inner">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="{% url 'news_post_create' %}" class="nav-link">Добавить новость</a>
            </li>
  
            <li class="nav-item">
              <a href="{% url 'news_posts' %}" class="nav-link">Новости</a>
            </li>
  
            <li class="nav-item">
              <a href="" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Кафедры</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDepartments">
                <li> <a class="dropdown-item" href="{% url 'iu_1' %}">ИУ1</a> </li>
                <li> <a class="dropdown-item" href="{% url 'iu_2' %}">ИУ2</a> </li>
                <li> <a class="dropdown-item" href="{% url 'iu_3' %}">ИУ3</a> </li>
                <li> <a class="dropdown-item" href="{% url 'iu_4' %}">ИУ4</a> </li>
                <li> <a class="dropdown-item" href="{% url 'iu_5' %}">ИУ5</a> </li>
                <li> <a class="dropdown-item" href="{% url 'iu_6' %}">ИУ6</a> </li>
                <li> <a class="dropdown-item" href="{% url 'iu_7' %}">ИУ7</a> </li>
                <li> <a class="dropdown-item" href="{% url 'iu_8' %}">ИУ8</a> </li>
                <li> <a class="dropdown-item" href="{% url 'iu_9' %}">ИУ9</a> </li>
                <li> <a class="dropdown-item" href="{% url 'iu_10' %}">ИУ10</a> </li>
                <li> <a class="dropdown-item" href="{% url 'iu_11' %}">ИУ11</a> </li>
                <li> <a class="dropdown-item" href="{% url 'iu_12' %}">ИУ12</a> </li>
              </ul>
            </li>
  
            <li class="nav-item dropdown">
              <a href="" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">О факультете</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDepartments">
                <li> <a class="dropdown-item" href="#">Учёный совет</a> </li>
                <li> <a class="dropdown-item" href="#">Нормативные документы</a> </li>
                <li> <a class="dropdown-item" href="#">Контакты</a> </li>
              </ul>
            </li>
  
            <li class="nav-item dropdown">
              <a href="" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Абитуриентам</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDepartments">
                <li> <a class="dropdown-item" href="#">Правила приёма</a> </li>
                <li> <a class="dropdown-item" href="#">Направления подготовки</a> </li>
                <li> <a class="dropdown-item" href="#">Целевое обучение</a> </li>
                <li> <a class="dropdown-item" href="#">Учебные планы</a> </li>
                <li> <a class="dropdown-item" href="#">Магистратура</a> </li>
                <li> <a class="dropdown-item" href="#">Аспирантура</a> </li>
                <li> <a class="dropdown-item" href="#">Иностранным студентам</a> </li>
              </ul>
            </li>
  
            <li class="nav-item dropdown">
              <a href="" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Студентам</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDepartments">
                <li> <a class="dropdown-item" href="{% url 'deans_office_schedule' %}">Расписание работы деканата</a> </li>
                <li> <a class="dropdown-item" href="#">Общежитие</a> </li>
                <li> <a class="dropdown-item" href="#">Образцы заявлений</a> </li>
                <li> <a class="dropdown-item" href="{% url 'student_council' %}">Студенческий совет</a> </li>
                <li> <a class="dropdown-item" href="#">Профсоюз студентов</a> </li>
                <li> <a class="dropdown-item" href="{% url 'session_countdown_timer' %}">Таймер до сессии</a> </li>
              </ul>
            </li>
  
            {% if user.is_authenticated %}
            <a href="/logout" class="nav-link" role="button">Выйти</a>
            {% else %}
            <a href="/login" class="nav-link" role="button">Войти</a>
            {% endif %}
  
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      {% block content %} {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
