{% extends "app/base_layout.html" %}
{% load static %}


{% block title %} {{department_info.name}} {% endblock %}

<div class="container">
  {% block content %}
    <h1>{{department_info.name}}</h1>
    <h1>{{department_info.full_name}}</h1>

    <hr class="my-4"></hr>

    <h2>О кафедре</h2>
    <p>{{department_info.description}}</p>
    <hr class="my-4"></hr>
    <h2>Руководитель кафедры</h2>
    <h3>{{department_info.head_name}}</h3>
    <img src="{{department_info.head_image}}">
    <h2>Направления подготовки</h2>
    <ul class="list-group">
      {% for direction in department_info.education_directions %}
      <li class="list-group-item">
        <h4>{{direction}}</h4>
      </li>
      {% endfor %}
    </ul>
    
    {% for image in department_info.images %}
      <img src="{% static image %}" alt="test">
      <br/>
    {% endfor %}


    <a href="{{department_info.website_link}}" class="btn btn-primary btn-lg" role="button">Сайт кафедры</a>

  {% endblock %}
</div>
